✅Task 1: School Management – Teacher → SubjectTeacher

In [2]:
# Parent Class
class Teacher:
    def __init__(self, name, qualification):
        self.name = name
        self.qualification = qualification

# Child Class
class SubjectTeacher(Teacher):
    def __init__(self, name, qualification, subject, experience_years):
        super().__init__(name, qualification)
        self.subject = subject
        self.experience_years = experience_years

    def show_details(self):
        print("Teacher Name:", self.name)
        print("Qualification:", self.qualification)
        print("Subject:", self.subject)
        print("Experience (years):", self.experience_years)

# Object Creation
t1 = SubjectTeacher("Anusha", "M.Sc Mathematics", "Maths", 5)

# Print details
t1.show_details()

Teacher Name: Anusha
Qualification: M.Sc Mathematics
Subject: Maths
Experience (years): 5

✅ Task 2: Banking System – Account → SavingsAccount

In [3]:
# Parent Class
class Account:
    def __init__(self, acc_number, holder_name):
        self.acc_number = acc_number
        self.holder_name = holder_name

# Child Class
class SavingsAccount(Account):
    def __init__(self, acc_number, holder_name, balance, interest_rate):
        super().__init__(acc_number, holder_name)
        self.balance = balance
        self.interest_rate = interest_rate

    def display_info(self):
        print("Account Number:", self.acc_number)
        print("Account Holder:", self.holder_name)
        print("Balance:", self.balance)
        print("Interest Rate:", self.interest_rate, "%")

# Object Creation
a1 = SavingsAccount(12345678, "Rahul", 50000, 5.5)

# Display Details
a1.display_info()

Account Number: 12345678
Account Holder: Rahul
Balance: 50000
Interest Rate: 5.5 %

✅ Task 3: Company HR – Employee → FullTimeEmployee

In [4]:
# Parent Class
class Employee:
    def __init__(self, emp_id, emp_name):
        self.emp_id = emp_id
        self.emp_name = emp_name

# Child Class
class FullTimeEmployee(Employee):
    def __init__(self, emp_id, emp_name, salary, department):
        super().__init__(emp_id, emp_name)
        self.salary = salary
        self.department = department

    def show_details(self):
        print("Employee ID:", self.emp_id)
        print("Employee Name:", self.emp_name)
        print("Salary:", self.salary)
        print("Department:", self.department)

# Object Creation
e1 = FullTimeEmployee(101, "Kiran", 45000, "HR")

# Print Details
e1.show_details()

Employee ID: 101
Employee Name: Kiran
Salary: 45000
Department: HR